* {
margin: 0;
padding: 0;
}

body {
display: grid;
grid-template: 50px 100vh / repeat(4, 25%);
}

header {
background-color: rgb(234,209,220);
grid-column: span 2;
}

.left-center-content{
background-color: rgb(255, 242, 204);
}

.right-center-content {
background-color: rgb(252, 229, 205);
}

.left-content{
background-color: rgb(208, 224, 227);
grid-row: span 2;
}

.right-content {
background-color: rgb(207, 226, 243);
grid-row: span 2;
}

