@font-face {
  font-family: 'Digital-7';
  src: url(./font/digital-7.italic.ttf);
}

@keyframes gradient {
  0% {
      background-position: 80% 0%;
  }
  50% {
      background-position: 20% 100%;
  }
  100% {
      background-position: 80% 0%;
  }
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 200px;
  font-family: 'Digital-7';
  letter-spacing: 2px;
  color: white;
}

.gradient{
  background: linear-gradient(149deg, rgba(24,187,156,1) 0%, rgba(106,57,175,1) 42%, rgba(187,24,148,1) 72%, rgba(115,53,134,1) 100%);
  animation: gradient 10s infinite linear;
  background-size: 250%;
}

.container {
  width: 370px;
  margin: 30px;
  padding: 30px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  background-color: black;
}

.time{
  display: flex;
  font-size: 120px;
}

.month {
  display: flex;
  font-size: 30px;
}