body {
font-family: Arial, Helvetica, sans-serif;
display: flex;
align-items: center;
justify-content: center;
}

.tabcontent{
display: flex;
align-items: center;
justify-content: center;
width: 400px;
height: 260px;
gap: 50px;
margin: 150px; 
padding: 30px;
border: 2px solid rgba(68, 68, 68, 0.8);
border-radius: 8px;
background-color: rgb(207, 207, 207);
}

.timer {
width: 400px;
height: 300px;
margin: 0 auto;
display: flex;
font-size: 30px;
}

.timer div {
padding: 10px;
}

.col {
width: 50%;
}

button {
width: 160px;
height: 30px;
display: flex;
justify-content: space-around;
gap: 50px;
text-align: center;
font-size: 20px;
}

button:active{
opacity: 0.9;
}

.str:active{
background-color: green;
}

.stp:active{
background-color: red;
}

.crcl:active{
background-color: blue;
}

.pause:active{
background-color: yellow;
}

#timer, .circles{
background-color: white;
text-align: center;
font-size: 35px;
border: 1px solid #000;
border-radius: 10px;
}

#circle-tab {
list-style: square;
font-size: 20px;
height: 100px;
text-align: center;
}