/* ПЕРЕМЕННЫЕ */

:root{
  --main-animation_pulse: animate_pulse 2.5s infinite;
  --main-animation_grow: animate_grow 2.5s infinite;
  --main-animate_motion: animate_motion 5s 2s both infinite;
}

/* СТИЛЕЗАЦИЯ ДОСКИ */

td{
  width: 65px;
  height: 65px;
  border: 1px solid rgb(39, 22, 16);;
  background-color: rgb(58, 34, 25);
}

.odd td:nth-child(2n + 1){
  background-color: rgb(241, 234, 201);
}

.even td:nth-child(2n){
  background-color: rgb(241, 234, 201);
}

/* АНИМАЦИЯ */

@keyframes animate_pulse {
	0% {
		box-shadow: 0 0 0 0 rgba(255, 159, 15, 0.4);
	}
	70% {
		box-shadow: 0 0 0 10px rgba(228, 25, 49, 0);
	}
	100% {
		box-shadow: 0 0 0 0 rgba(228, 25, 49, 0);
	}
}

@keyframes animate_grow {
	0% {
		transform: scale3d(1, 1, 1);
	}
	50% {
		transform: scale3d(1.2, 1.2, 1.2);
	}
	100% {
		transform: scale3d(1, 1, 1);
	}
}
/*Функция scale3d() CSS определяет преобразование  , 
которое изменяет размер элемента в трехмерном пространстве. 
Поскольку степень масштабирования определяется вектором, 
он может изменять размеры разных размеров в разных масштабах.*/

@keyframes animate_motion {
	0%, 20% {
		transform: translate3d(0, 0, 0);
	}
	10%, 14%, 18%, 2%, 6% {
		transform: translate3d(-2px, 0, 0);
	}
	12%, 16%, 4%, 8% {
		transform: translate3d(2px, 0, 0);
	}
}
/*Функция translate3d() CSS изменяет положение элемента в трехмерном пространстве. */

/*---------------------------------------------------------------------------------------------*/

/* КОРОЛЬ И КОРОЛЕВА */

.king,.queen{
  height: 18px;
  width: 10px;
  margin: auto;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom-width: 30px;
  border-bottom-style: solid;
  animation: var(--main-animation_pulse);
}

.black.king,.black.queen,.black.elephant,.black.horse,.black.castle,.black.pawn{
  border-bottom-color: black;
}

.white.king,.white.queen,.white.elephant,.white.horse,.white.castle,.white.pawn{
  border-bottom-color: white;
}

.king::before{
  content: '♚';
}

.queen::before{
  content: '♛';
}

.king::before,.queen::before{
  font-size: 40px;
  font-weight: 800;
  display: block;
  position: relative;
  top: -22px;
  left: -7px;
}

.black.king::before,.black.gueen::before,.black.elephant::before,.black.horse::before,.black.castle::before{
  color: black;
  animation: var( --main-animate_motion);
}

.white.king::before,.white.queen::before,.white.elephant::before,.white.horse::before,.white.castle::before{
  color: white;
  animation: var( --main-animate_motion);
}

.king::after,.queen::after{
  content: ' ';
  width: 25px;
  height: 7px;
  display: block;
  position: relative;
  top: -35px;
  left: -7px;
  border-radius: 12px;
}

.black.king::after,.black.queen::after,.black.elephant::after,.black.horse::after,.black.castle::after{
  background-color: black;
  animation: var( --main-animate_motion);
}

.white.king::after,.white.queen::after,.white.elephant::after,.white.horse::after,.white.castle::after{
  background-color: white;
  animation: var( --main-animate_motion);
}

/* СЛОН */ 

.elephant{
  height: 15px;
  width: 7px;
  margin: auto;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom-width: 24px;
  border-bottom-style: solid;
  animation: var(--main-animation_pulse);
}

.elephant::before{
  content: '♝';
  font-size: 40px;
  font-weight: 800;
  display: block;
  position: relative;
  top: -20px;
  left: -8px;
}

.elephant::after{
  content: ' ';
  width: 18px;
  height: 6px;
  display: block;
  position: relative;
  top: -35px;
  left: -5px;
  border-radius: 12px;
}

/* КОНЬ */ 

.horse{ 
  height: 15px;
  width: 7px;
  margin: auto;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom-width: 23px;
  border-bottom-style: solid;
  animation: var(--main-animation_pulse);
}

.horse::before{
  content: '♞';
  font-size: 30px;
  font-weight: 800;
  display: block;
  position: relative;
  top: -14px;
  left: -6px;
}

.horse::after{
  content: ' ';
  width: 18px;
  height: 6px;
  display: block;
  position: relative;
  top: -22px;
  left: -5px;
  border-radius: 12px;
}

/* ЗАМОК */

.castle{ 
  height: 12px;
  width: 6px;
  margin: auto;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom-width: 23px;
  border-bottom-style: solid;
  animation: var(--main-animation_pulse);
}

.castle::before{
  content: '♜';
  font-size: 26px;
  font-weight: 800;
  display: block;
  position: relative;
  top: -9px;
  left: -5px;
}

.castle::after{
  content: ' ';
  width: 17px;
  height: 5px;
  display: block;
  position: relative;
  top: -20px;
  left: -5px;
  border-radius: 12px;
}

/* ПЕШКА */

.pawn{
  width: 4px;
  height: 7px;
  margin: auto;
  border-bottom: 20px solid;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  animation: var(--main-animation_pulse);
}

.pawn::before{
  content: ' ';
  width: 12px; 
  height: 12px;
  border-radius: 50%;
  display: block;
  position: relative;
  top: -5px;
  left: -4px;
}

.pawn::after{
  content: ' ';
  width: 18px;
  height: 6px;
  display: block;
  position: relative;
  top: -6px;
  left: -7px;
  border-radius: 12px;
}

.black.pawn.animate-grow::before,.black.pawn.animate-grow::after{
  background-color: black;
  animation: var(--main-animation_grow);
  }
 
.white.pawn.animate-grow::before,.white.pawn.animate-grow::after{
  background-color: white;
  animation: var(--main-animation_grow);
  }