*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  font-family:  Arial, Helvetica, sans-serif;
}

section{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  min-height: 100vh;
  width: 100%;
}

.container{
  width: 90%;
  max-width: 400px;
  background-color: rgb(121, 121, 121);
  border-radius: 8px;
  overflow: hidden;
 /* - overflow определяет, необходимо ли для переполненного блочного элемента содержимое обрезать, 
 предоставить полосы прокрутки или просто отобразить. */
}

.display{
  position: relative;
  height: 130px;
  width: 100%;
  text-align: right;
  padding: 30px;
  font-size: 55px;
  background-color: rgb(57, 57, 58);
}

.display-1{
  font-size: 20px;
  height: 20px;
  overflow: hidden;
  opacity: .5;
  color: white;
}

.display-2{
  color: white;
  font-size: 35px;
  margin: 20px 0px;
}

.all_button{
  color: white;
  display: grid;
  grid-template:repeat(4, 1fr) / repeat(4, 1fr) ;
}

.button{
  display: flex;
  align-items: center;
  justify-content: center;
  border: .5px solid black;
  height: 80px;
  width: 100%;
  font-size: 30px;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(255, 255, 255,.7);
}

div#grey{
  background-color: rgb(85,85,86);
}

div#grey:hover{
  background-color: rgb(85,85,86,.7);
}

div#orange{
  background-color: rgb(242,163,60);
}

div#orange:hover {
  background-color: rgb(242,163,60,.7);
}

.btn-0{
  grid-column: 1/3;
}

